In [1]:
# Dependencies
import pandas as pd
from pathlib import Path
from IPython.display import display
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

In [2]:
file_path = Path("Resources/data_train_cleaned.csv")
df = pd.read_csv(file_path)
df.head()

,Unnamed: 0,AccountAge,MonthlyCharges,TotalCharges,SubscriptionType,PaymentMethod,PaperlessBilling,ContentType,MultiDeviceAccess,DeviceRegistered,...,ContentDownloadsPerMonth,GenrePreference,UserRating,SupportTicketsPerMonth,Gender,WatchlistSize,ParentalControl,SubtitlesEnabled,CustomerID,Churn
0,0,20,11.055215,221.104302,Premium,Mailed check,No,Both,No,Mobile,...,10,Sci-Fi,2.176498,4,Male,3,No,No,CB6SXPNVZA,0
1,1,57,5.175208,294.986882,Basic,Credit card,Yes,Movies,No,Tablet,...,18,Action,3.478632,8,Male,23,No,Yes,S7R2G87O09,0
2,2,73,12.106657,883.785952,Basic,Mailed check,Yes,Movies,No,Computer,...,23,Fantasy,4.238824,6,Male,1,Yes,Yes,EASDC20BDT,0
3,3,32,7.263743,232.439774,Basic,Electronic check,No,TV Shows,No,Tablet,...,30,Drama,4.276013,2,Male,24,Yes,Yes,NPF69NT69N,0
4,4,57,16.953078,966.325422,Premium,Electronic check,Yes,TV Shows,No,TV,...,20,Comedy,3.616170,4,Female,0,No,No,4LGYPK7VOL,0

In [3]:
df.columns

Index(['Unnamed: 0', 'AccountAge', 'MonthlyCharges', 'TotalCharges',
       'SubscriptionType', 'PaymentMethod', 'PaperlessBilling', 'ContentType',
       'MultiDeviceAccess', 'DeviceRegistered', 'ViewingHoursPerWeek',
       'AverageViewingDuration', 'ContentDownloadsPerMonth', 'GenrePreference',
       'UserRating', 'SupportTicketsPerMonth', 'Gender', 'WatchlistSize',
       'ParentalControl', 'SubtitlesEnabled', 'CustomerID', 'Churn'],
      dtype='object')

In [6]:
subscription_type = df['SubscriptionType']
subscription_type.head()

0    Premium
1      Basic
2      Basic
3      Basic
4    Premium
Name: SubscriptionType, dtype: object

In [4]:
len(df)

243787

In [6]:
testing_group = ['AccountAge', 'MonthlyCharges', 'Churn']
df_test = df[testing_group]

In [7]:
df_1000 = df_test.iloc[:1000]
df_1000.head()

   AccountAge  MonthlyCharges  Churn
0          20       11.055215      0
1          57        5.175208      0
2          73       12.106657      0
3          32        7.263743      0
4          57       16.953078      0

In [8]:
df_1000_group = df_1000.groupby('AccountAge')
df_1000_group.head()

     AccountAge  MonthlyCharges  Churn
0            20       11.055215      0
1            57        5.175208      0
2            73       12.106657      0
3            32        7.263743      0
4            57       16.953078      0
..          ...             ...    ...
937          41        7.139041      0
954          75       11.145513      0
967          74       16.652559      0
970          50       16.083809      0
980          75        7.235019      0

[581 rows x 3 columns]